*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ Nav -------------------- */

.contrainer{
        max-width: 1140px;
        margin: 0 auto;

}
nav{
    padding: 1rem;
    background-color: #333;
}
.nav-con {
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
margin: 0 1rem;
}

.menu li a{
    color: #fff;
    text-decoration: none;

}


/* ------------------ Main Section -------------------- */

.maincontent{
    background-color: #d0cece;
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 100%;
    padding:  2rem;
}
.maincontent-info h3{
    font-size: 2rem;
}
.maincontent-info p{
    margin: 1.3rem 0;
}
.maincontent-info .maincontent-btn{
    background-color: #f7bb2f;
    color: #fff;
    padding: 1rem;
    border-radius:  5px;
    text-decoration: none;
}
.maincontent-img{
    width: 100%;
    padding: 2rem;
    
}
.maincontent-img img{
    border-radius: 10px;
}


/*------------------------ Section ---------------------- */

.content-con{

    display: grid ;
    grid-template-columns:  1fr 1fr 1fr;
}